// Place all the styles related to the homepage_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  'header header header'
  'left_column center_column right_column'
  'left_column center_column right_column'
  'footer footer footer';
  column-gap: 20px;
  row-gap: 20px;
}

.admindiv {
grid-area: footer
}

.titlediv {
  grid-area: header;
  text-align: center;
}

.aboutmediv {
  grid-area: left_column;
  outline-color: red;
}

.qualificationdiv {
  grid-area: center_column;
}

.workdiv {
  grid-area: right_column;
}

.qualification_table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.qualification_table th {
  border: 1px solid black;
}

.qualification_table td {
  border: 1px solid black;
  text-align: center;
}

.work_table {
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}

.work_table th {
  border: 1px solid red;
}

.work_table td {
  border: 1px solid red;
  text-align: center;
}

